#filter{
    text-align: center;
    border: 10px; color: black; border-radius: 5px;
    margin-left: 40px;
    margin-right: 40px;
    
    
}

#tabla{
    margin: auto;

}

header{
    background-color: rgb(207, 226, 255);
    padding-bottom: 50px;
    padding-top: 40px;
}

